.logo{
    width: 125px;
    padding: 2rem;
}

.side_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:fixed;
    z-index: 1;
}

.side__buttons{
    display: flex;
    flex-direction: column;
}

.sidenav__button{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
    background: 0;
    border: 0;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
}

.sidenav__button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.128);
}

.sidenav__button > span {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
}

.sidenav__more {
    position: fixed;
    bottom: 3px;
}
  